<IfModule mod_php5.c>
    php_value always_populate_raw_post_data -1
</IfModule>
RewriteEngine On
RewriteBase /rest
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?/$0 [PT,L,QSA]